$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
$font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 710px;
  padding: 0 20px;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 1em 0;
  font-size: inherit;
  font-family: inherit;
  color: $color-text;
  padding-top: 1em;
  padding-bottom: 2em;
}

footer a, footer p {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.footer-line {
  border: 0; /* Remove the default border style */
  height: 1px; /* Set the thickness of the line */
  background: $color-border; /* Use your existing border color or choose a different color */
  margin-bottom: 1.5em; /* Space between the line and the footer */
  margin-top: 2em; /* Space above the line */
  width: 100%;
}


footer img {
  display: block;
  margin: 0;
  border-radius: $border-radius;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 0.5em;
  margin: 0;
  font-size: 0.9em;
  background: none;
  border-left: 4px solid rgb(224, 33, 33);
  padding-left: 1em;
  color: $color-text;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $color-primary;
  &:hover {
    color: black !important;
    background: #fffaf1;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

nav {
  margin: 1em 0;
  max-width: 1000px; /* Matches the body max-width */
  margin-left: auto;  /* Center the navigation */
  margin-right: auto;
  div {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust space between items */
  }

  a {
    white-space: nowrap;
    margin-left: 10px;
  }
}


code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
  font-size: 0.9rem;  // Adjust this value to make the text smaller
}
